.background-apps-quick-toggle {
  width: 100%;
}

.running-app-menu > .header {
  padding-bottom: 6px;
}

.running-app-menu > .header .icon {
  icon-size: 18px;
  padding: 4px;
}

.running-app-menu > .header .title {
  font-size: 0.95em;
}
